<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat:400,500,700&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="../public/css/main.css" rel="stylesheet">
            <link href="../public/css/code.css" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css">
        
            <!--Import js files/libraries-->
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
            <script src="../public/js/app.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
            <script src="../public/js/auth.js"></script>
            <script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js"></script>

             <!--My own js library, developed 2 months ago-->
             <script src="../public/js/filter.js"></script>
            <!--https://github.com/polowis/filterjs [link to repo with usage]-->
           

            
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
            <script type="text/javascript" src="../public/js/theme.js"></script>
    </head>
    <body onload="checkCookie()">
        <div class="smooth">
                        <script>hljs.initHighlightingOnLoad();</script>
                <header id="top">
                        <h3><a href="../../index.html">ET</a></h3>
                        <ul>
                            <li><a href="../../index.html" title="Home">Home</a></li>
                            <li><a href="./team.html" title="Team">Team</a></li>
                            <li><a href="#services" title="Services">Services</a></li>
                            <li><a href="#news" title="News">News</a></li>
                            <li><a href="/src/views/sorting.html">Code Playground</a></li>
                        </ul>
                </header>
                <article>
                    <h2 style="margin:30px">Recursion and stack</h2>
                    <p>Let’s return to functions and study them more in-depth.

                            Our first topic will be recursion.
                            
                            If you are not new to programming, then it is probably familiar and you could skip this chapter.
                            
                            Recursion is a programming pattern that is useful in situations when a task can be naturally split into several tasks of the same kind, but simpler. Or when a task can be simplified into an easy action plus a simpler variant of the same task. Or, as we’ll see soon, to deal with certain data structures.
                            
                            When a function solves a task, in the process it can call many other functions. A partial case of this is when a function calls itself. That’s called recursion.
                        </p>
                        <h4 style="margin: 30px">Two ways of thinking</h4>
                        <p>For something simple to start with – let’s write a function pow(x, n)that raises x to a natural power of n. In other words, multiplies x by itself n times.</p>
                        <pre><code>pow(2, 2) = 4
pow(2, 3) = 8
pow(2, 4) = 16</code></pre>
                        <p>There are two ways to implement it.

                                      1.  Iterative thinking: the for loop:</p>
                        <pre><code class="">function pow(x, n) {
        let result = 1;
                                      
        // multiply result by x n times in the loop
        for (let i = 0; i < n; i++) {
                result *= x;
        }
                                      
        return result;
}
                                      
        alert( pow(2, 3) ); // 8</code></pre>
        <p>2. Recursive thinking: simplify the task and call self:</p>
        <pre><code>function pow(x, n) {
        if (n == 1) {
                return x;
        } else {
                return x * pow(x, n - 1);
        }
}
                      
alert( pow(2, 3) ); // 8</code></pre>
                        <p>Please note how the recursive variant is fundamentally different.

                                        When pow(x, n) is called, the execution splits into two branches:</p>
                                        <pre><code>                  if n==1  = x
                /
pow(x, n) =
                \
                 else = x * pow(x, n - 1)</code></pre>
                 <p>1. If n == 1, then everything is trivial. It is called the base of recursion, because it immediately produces the obvious result: pow(x, 1) equals x.<br><br>
                                2. Otherwise, we can represent pow(x, n) as x * pow(x, n - 1). In maths, one would write xn = x * xn-1. This is called a recursive step: we transform the task into a simpler action (multiplication by x) and a simpler call of the same task (pow with lower n). Next steps simplify it further and further until n reaches 1.</p>
                               <p>For example, to calculate pow(2, 4) the recursive variant does these steps:
                                <br>
                                1.pow(2, 4) = 2 * pow(2, 3)<br>
                                2.pow(2, 3) = 2 * pow(2, 2)<br>
                                3.pow(2, 2) = 2 * pow(2, 1)<br>
                                4.pow(2, 1) = 2<br>
                                So, the recursion reduces a function call to a simpler one, and then – to even more simpler, and so on, until the result becomes obvious.
                                </p>
                                <p class="alert alert-primary">Recursion is always shorter</p>
                                <p >A recursive solution is usually shorter than an iterative one.

                                Here we can rewrite the same using the conditional operator ? instead of if to make pow(x, n) more terse and still very readable:</p>
                                <pre><code>function pow(x, n) {
        return (n == 1) ? x : (x * pow(x, n - 1));
}</code></pre>
                                <p>The maximal number of nested calls (including the first one) is called recursion depth. In our case, it will be exactly n. <br><br>

                                                The maximal recursion depth is limited by JavaScript engine. We can rely on it being 10000, some engines allow more, but 100000 is probably out of limit for the majority of them. 
                                                There are automatic optimizations that help alleviate this (“tail calls optimizations”), 
                                                but they are not yet supported everywhere and work only in simple cases. <br><br>
                                                
                                                That limits the application of recursion, but it still remains very wide. There are many tasks where recursive way of thinking gives simpler code, easier to maintain.</p>
                                                <h4 style="margin:30px">The execution context and stack</h4>
                                                <p>Now let’s examine how recursive calls work. For that we’ll look under the hood of functions. <br><br>

                                                                The information about the process of execution of a running function is stored in its execution context. <br><br>
                                                                
                                                                The execution context is an internal data structure that contains details about the execution of a function: where the control flow is now, the current variables, 
                                                                the value of this (we don’t use it here) and few other internal details. <br><br>
                                                                
                                                                One function call has exactly one execution context associated with it. <br><br>
                                                                
                                                                When a function makes a nested call, the following happens: <br><br>
                                                                
                                                                1.The current function is paused. <br><br>
                                                                2.The execution context associated with it is remembered in a special data structure called execution context stack. <br><br>
                                                                3.The nested call executes. <br><br>
                                                                4.After it ends, the old execution context is retrieved from the stack, and the outer function is resumed from where it stopped. <br><br>
                                                                Let’s see what happens during the pow(2, 3) call.</p>
                                                                <h6 style="margin:30px">pow(2, 3)</h6>
                                                                <p>In the beginning of the call pow(2, 3) the execution context will store variables: x = 2, n = 3, the execution flow is at line 1 of the function.</p>
                                                                <p>That’s when the function starts to execute. The condition n == 1 is false, so the flow continues into the second branch of if:</p>
                                                                <pre><code>function pow(x, n) {
        if (n == 1) {
                return x;
        } else {
                return x * pow(x, n - 1);
        }
}
                                                                              
alert( pow(2, 3) );</code></pre>
                        <h4 style="margin:30px">Summary</h4>
                        <p><i>Recursion</i> is a programming term that means calling a function from itself. Recursive functions can be used to solve tasks in elegant ways. <br> <br>

                                        When a function calls itself, that’s called a recursion step. The basis of recursion is function arguments that make the task so simple that the function does not make further calls.</p>

                </article>
                <footer id="bottom">
                                <div class="widgets">
                                <div class="f_logo">
                                    <h3 class="foo_logo">ET Tech</h3></div>
                               
                                <div class="widget">
                                    <h5>Heading</h5>
                                    <ul>
                                        <li>Forums</li>
                                        <li>License</li>
                                        <li>Guest Posting</li>
                                        <li>Advertise</li>
                                    </ul>
                                </div>
                                <div class="widget">
                                    <h5>Heading</h5>
                                    <ul>
                                        <li>Subscribe</li>
                                        <li>Customers</li>
                                        <li>FAQ</li>
                                        <li>Support</li>
                                    </ul>
                                </div>
                                <div class="widget">
                                    <h5>Contacts</h5>
                                    <ul></ul>
                                    <li><i class="fa fa-map-o" aria-hidden="true"> </i></li> Autralia, Canberra - number
                                    <li><i class="fa fa-phone" aria-hidden="true"> </i></li> +12 345 678 910
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"> </i></li> ETtech@email.com
                                </div>
                                <div class="copy"></div>
                                <p>&copy; 2019 with <span class="heart">&#9829; </span><a href="https://github.com/polowis" target="_blank" rel="noopener noreferrer"> Polowis</a></p>
                                <p><a href="#top">Back &#x2191; to top</a></p>
                            </footer>
        </div>
        <script>
        function callback () {
                console.log(this.responseText);
        };
        let request = new XMLHttpRequest();
        request.onload = callback;
        request.open("post", "http://localhost:3000/check");
        let formData = new FormData();
        request.setRequestHeader("Content-Type", "application/json");
        request.send('{"my_data":"back to basics"}');
        
        </script>
    </body>
    </html>