<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat:400,500,700&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="../public/css/main.css" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css">
        
            <!--Import js files/libraries-->
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
            <script src="../public/js/app.js"></script>
            <script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js"></script>

             <!--My own js library, developed 2 months ago-->
            <script src="https://codepen.io/polowis/pen/ExxXRov.js"></script>
    </head>
    <body>
        <div class="smooth">
                <header id="top">
                        <h3><a href="../../index.html">ET</a></h3>
                        <ul>
                            <li><a href="../../index.html" title="Home">Home</a></li>
                            <li><a href="./team.html" title="Team">Team</a></li>
                            <li><a href="#services" title="Services">Services</a></li>
                            <li><a href="./news.html" title="News">News</a></li>
                        </ul>
                </header>
                <br>
        <article>
                    <h3 style="text-align: center">Iruna Global Stall</h3>
                    <p style="margin: 30px; font-size: 18px;">Iruna global stall is going to launch soon. Iruna global stall is a new trading system aim to improve the marketplace of the community. <br><br>

                            Please read our terms of service and privacy policy before using our service. We reserve the right to deactivate your account if find out any action that goes against our terms of service and Iruna terms of service. Actions such as botting, spamming will also get your account banned. Items that remain non purchased for the next 30 days will also be removed. Although, we are not responsible for any losses or scams when using our service but if find out, we will ban that user’s account. Any attempt to push the price up in the price check section or most popular item page(which will be added later) will get your account banned as well. 
                            
                            You will get a notification pop-up after we finalize your requests (usually 1 second). If not, please check the previous form you have entered. 
                            
                            If found any security vulnerabilities, please contact me as soon as possible. Also contact any of us if you think we mistakenly ban your account. 
                            
                            And be honest when posting items. Bugs and suggestions are always welcomed. 
                            <br><br>
                            Note: when your account get banned, all items will be removed from your stall.
                            <br><br>
                            <img src="../public/assets/images/images.jpg">
                            Iruna online is a very first MMORPG game on mobile device. Iruna Online is a free-to-play mobile MMORPG that features a large open world populated with a wide variety of story-driven quests and dangerous creatures. 
                            Enter the fantasy world of Iruna torn by conflict between the 12 gods and the four races that populate each country. 
                            <br>
                            Publisher: Asobimo Inc.
                            <br><br>
                            "Iruna Online" is the number one online RPG (Ranked 1st in the RPG category in dmenu run by NTT DoCoMo, Inc., 
                            the company of the number one share for mobile devices in Japan) for mobile devices played by more than one million users in Japan.“Iruna Online” features 3D graphics, 
                            cooperative play, and chatting just as in PC online RPGs. Experience the exciting adventure in your smartphone with players all over the world.
                            </p>


        </article>
        <footer id="bottom">
                <div class="widgets">
                <div class="f_logo">
                    <h3 class="foo_logo">ET Tech</h3></div>
               
                <div class="widget">
                    <h5>Heading</h5>
                    <ul>
                        <li>Forums</li>
                        <li>License</li>
                        <li>Guest Posting</li>
                        <li>Advertise</li>
                    </ul>
                </div>
                <div class="widget">
                    <h5>Heading</h5>
                    <ul>
                        <li>Subscribe</li>
                        <li>Customers</li>
                        <li>FAQ</li>
                        <li>Support</li>
                    </ul>
                </div>
                <div class="widget">
                    <h5>Contacts</h5>
                    <ul></ul>
                    <li><i class="fa fa-map-o" aria-hidden="true"> </i></li> Autralia, Canberra - number
                    <li><i class="fa fa-phone" aria-hidden="true"> </i></li> +12 345 678 910
                    <li><i class="fa fa-envelope-o" aria-hidden="true"> </i></li> ETtech@email.com
                </div>
                <div class="copy"></div>
                <p>&copy; 2019 with <span class="heart">&#9829; </span><a href="https://github.com/polowis" target="_blank"> Polowis</a></p>
                <p><a href="#home">Back &#x2191; to top</a></p>
            </footer>
        </div>
        
    </body>
    </html>